.nav {
  grid-area: nav;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 3px 20px 0px #c0c0c0b0;
}

.item {
  margin-bottom: 10px;
}

.item a{
  color: rgb(27, 27, 27);
  text-decoration: none;
  font-size: 20px;
}

.activeLink {
  font-weight: bold;
  text-transform: uppercase;
}

.friendsTitle {
  color: rgb(27, 27, 27);
  text-decoration: none;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.userImgBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}